:root {
    --white: #fff;
    --background: #0B0B0B;
    --menu: #000000;
    --bouton: #FFA909;
  }
  /*Pour commencer, on crée des variables pour les couleurs de la page, tout les éléments qui ne sont pas des images déja fait.*/


/*Style de toute la page*/

  body {
    font-family: "Barlow", sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
  }

header a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

header a:hover {
  color: grey;
  text-decoration: underline;
}

.r-sociaux {
  transition: transform 0.3s ease;
}

.r-sociaux:hover {
  transform: scale(1.10);
}

  button {
    font-family: "Barlow", sans-serif;
  }

  input {
    font-family: "Barlow", sans-serif;
  }

.logo-header {
  width: 50%;
  height: auto;
}


  h1 {
    color:var(--white);
    font-size: 100;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 70px;
  }

  h2 {
    color:var(--white);
    font-size: 40;
    font-weight: bold;
  }

  p {
    max-width: 600px;
    margin: 0 auto 60px auto;
    line-height: 1.6;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
nav {
    background-color: #000;
    padding: 25px;
    border-bottom: 0.3px solid white; /* Ajoute une fine bordure blanche en bas */
}

footer {
  background-color: #000;
  padding: 25px;
  border-top: 0.3px solid white; /* Ajoute une fine bordure blanche en bas */
}

.socials {
  width: 30px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.3s ease;
}

.socials:hover {
  transform: scale(1.10);
}

footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 250px;
  height: auto;
}

/*CSS du menu*/
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav img {
    width: 30px;
    height: auto;
}
  
.logo {
  width: 60px;
  height: auto;
}
ul {
  padding: 0px;
 }

@media (max-width: 600px) {
  .logo {
      width: 40px;
  }
}

